USE [master]
GO
/****** Object:  Database [CodeCamp_jcBench]    Script Date: 6/1/2013 12:29:14 AM ******/
CREATE DATABASE [CodeCamp_jcBench]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeCamp_jcBench', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CodeCamp_jcBench.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CodeCamp_jcBench_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CodeCamp_jcBench_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeCamp_jcBench].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeCamp_jcBench]
GO
/****** Object:  StoredProcedure [dbo].[getTopResults]    Script Date: 6/1/2013 12:29:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTopResults]
(@numResults INT)
AS
	SELECT
		TOP (@numResults)
		dbo.BenchmarkResults.DeviceName,
		dbo.BenchmarkResults.Score,
		dbo.BenchmarkResults.Created
	FROM dbo.BenchmarkResults
	WHERE dbo.BenchmarkResults.Active = 1
	ORDER BY dbo.BenchmarkResults.Score DESC
GO
/****** Object:  Table [dbo].[BenchmarkResults]    Script Date: 6/1/2013 12:29:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BenchmarkResults](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[DeviceName] [varchar](500) NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_BenchmarkResults] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
